<p class="text-muted">
  <%# call the method from project helper %>
  <% if days_to_go(temp.due_date) == 0 %>
    done
  <% else %>
    <%= days_to_go(temp.due_date) %> <%= "day".pluralize(@day_left) %> to go
  <% end %>
</p>