<div class="progress">
  <% if proj_progress(temp.total_amount, temp.goal_amount) != 0 %>
    <div class="progress-bar" role="progressbar" style="width: <%= @result %>%" aria-valuenow="<%= @result %>" aria-valuemin="0" aria-valuemax="100"><%= "#{@result.round}%" %></div>
  <% else %>
    <div class="progress-bar text-muted text-start" role="progressbar" style="width: 100%; background-color: #e9ecef;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0"><%= "0%" %></div>
  <% end %>
</div>