<div class="container mt-5">
  <h1 class="thanks">Thank you for supporting <br><span class="text-primary"><%= link_to format_text(@support.project.title), @project %></span> project!</h1>
  <p class="text-center"><%= link_to "View Receipt", @support.receipt_url, target: :_blank %></p>
</div>