// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.homepage {
  h1 {
    font-size: calc(4vw + 4vh + 1vmin);
    color: rgba(214, 213, 213, 0.7);
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 0.8;
  }
}
